/* You can add global styles to this file, and also import other style files */

@import 'mixins.scss';

@import './node_modules/bootstrap/scss/bootstrap.scss';

body{
    margin:0;
    padding: 0;

    h4{
      font-weight: 300;
      font-size:1em;
  
      @include tablets{
  
      }
      @include landscape-phones{
        font-size: 0.8em;
      }
      @include portrait-phones{
        font-size: 0.6em;
      }
    }
}




/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.navbar-dark .navbar-toggler {
    border:none !important;
  }

.navbar-light .navbar-toggler {
    border:none !important;
  }

  button:focus {
    outline: none;
    outline: none -webkit-focus-ring-color;
}



  img:hover {
    opacity: 0.8;
    transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  .markdown{
    p{
      img{
        max-width: 100%;
       
      }
    }
  }
  