<div class="container">
    <div class="row p-5">
        <div class="col-6 p-5">
            <h3>// NOS VEMOS PRONTO</h3>
            <p>
                <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea voluptatibus quos accusamus voluptas. Sint perspiciatis quo minus reiciendis commodi, tempora facere consequuntur alias quae consequatur
                    dolorum reprehenderit possimus dolor vitae!</strong>
            </p>
            <p>+593 98 425 3375 <br>
            +593 99 9744 013 <br>   
            <a href="mailTo:hola@typostudio-brand.com">hola@typostudio-brand.com</a></p>
        </div>
        <div class="col-6 p-5">
            <form action="" class="form-group">
                <input type="text" placeholder="*Nombre" class="form-control">
                <input type="email" placeholder="*email" class="form-control">
                <textarea name="" id="" cols="30" rows="10" placeholder="*Mensaje" class="form-control"></textarea>
                <a href="" role="button">// Enviar</a>
            </form>
        </div>
    </div>
</div>
