<section id="hero-section">
    <app-home-hero></app-home-hero>    
</section>
<section id="legend-section">
    <h3>
        Una identidad memorable <br>
        debe conectarse con su <br> 
        público, debe contar una <br> 
        historia, debe inspirar <br>
        un propósito.
    </h3>
</section>
<section id="services-section">
    <app-home-services [services] = 'services$'></app-home-services>
</section>
<section id="team-section">
    <div class="team-description">
        <h3>Somos Typo Studio, sabemos que el éxito en la comunicación está en entender 
    al público, tenemos 15 años de experiencia desarrollando marcas de alto rendimiento en la construcción de valores. Creamos estrategias sólidas 
    de posicionamiento, elaboramos discursos más cercanos.
        </h3>
        <div class="t-button" [routerLink]="['/equipo']" fragment="page-hero-section" routerLinkActive="router-link-active" ></div>
    </div>
</section>
<section id="portfolio-section">
    <app-home-portfolio [projects] = 'projects$'></app-home-portfolio>
</section>



