<ng-container *ngFor="let item of imgSections">

    <div class="gallery container" *ngIf="item.section == 'gallery'">
        <figure class="gallery-item" *ngFor="let img of item.images" [ngStyle]="{'grid-column': img.gridColumn }">
            <img [src]="img.url" alt="" width="100%" height="100%">
        </figure>
    </div>
    <div *ngIf="item.section == 'banner'">
        <figure class="gallery-item" >
            <img [src]="item.url" alt="" width="100%" height="100%">
        </figure>
    </div>

</ng-container>









