<section id="proj-hero-section">
    <figure [ngStyle]="{'background-image': 'url(' + imgURL  + project?.hero_image.url + ')'}">
    </figure> 
</section>


<section id="proj-description-section" class="mb-5">
    <div class="container">
        <p class="mb-5"><b style="font-weight: 700;">SERVICIOS</b> 
         <span *ngFor="let service of services">
             <a [routerLink]="['/servicio',service?.id]" fragment="svc-hero-section" routerLinkActive="router-link-active" >// {{service?.name}} </a>
         </span>
        </p>
        
        <h1 class="mt-5">// {{project?.client | uppercase }}</h1>

        <div class="row align-items-end">
            <div class="col-lg-9 col-md-8 col-7" innerHtml="{{project?.description}}">

            </div>
            <div class="col-lg-3 col-md-4 col-5">

                <p>
                    <b *ngFor="let item of project?.services; let i = index "> <span *ngIf="i> 0"> //</span> {{item.name}}</b>
                   <span >
                      // {{project?.title}}
                   </span> 
                </p>
                <p>
                     {{project?.client | uppercase}}
                     <span *ngFor="let key of project?.tag">
                        // {{key.tag}}
                     </span> 
                </p>
            </div>
        </div>
    </div>

</section>

<section id="proj-content-section">
    <app-project-content [imgSections] = "imgSections"></app-project-content>
</section>