:host {
  display: block;
  font-family: 'Roboto', sans-serif;
}

#hero-section{
  flex: 1 1 auto;
  border: 1px solid black;
}

#legend-section{
  text-align: center;
  padding: 10% 30%;
  background-color: #000000;
  color:white;
  line-height: 2;

  h3{
    font-family: 'Tinos', serif;
    font-weight: normal;
  }
}

#team-section{
  position: relative;
  background-image: url("/assets/images/team-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vw;
  padding: 0;
  margin:0;

  .team-description{
    position: absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    bottom: 50%;
    left:20%;
    right:20%;
    
    h3{
      line-height: 2;
      font-weight: 300;
    }

    .t-button{
      width: 80px;
      height: 80px;
      background-image: url("/assets/images/t-button-gray.png");
      background-repeat: no-repeat;
      background-size: cover;

      &:hover{
        background-image: url("/assets/images/plus-button-gray.png");
        
      }
    }
  }
}

