/* You can add global styles to this file, and also import other style files */

@import 'mixins.scss';

@import './node_modules/bootstrap/scss/bootstrap.scss';

body{
    margin:0;
    padding: 0;
}




/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


.navbar-dark .navbar-toggler {
    border:none !important;
  }

.navbar-light .navbar-toggler {
    border:none !important;
  }