<div class="container">
    <div class="row p-md-5 p-3 align-items-center">
        <div class="col-md-6 p-md-5 p-3 text-right order-md-last">
            <figure>
                <img class="logo-brand" src="/assets/images/logo-footer.png" alt="">
            </figure>
        </div>
        <div class="col-md-6 p-md-5 p-3 order-md-first text-md-left text-center">© Copyright 2020. Typo Studio. All rights reserved.
            <br><span> Desarrollado por <a href="https://www.zurikata.com">ZURIKATA</a></span>
        </div>
    </div>
</div>